@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
.slick-dots li.slick-active div {
  background-color: #f97316 !important; /* Tailwind orange-500 */
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(249, 115, 22, 0.7);
}
